* { box-sizing: border-box; }

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hidden, .js-hidden {
  display: none;
}

.container {
  width: 95vw;
  margin: 0 auto 2rem auto;
  max-width: 50rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #888;
}

.feed-container {
  width: 100%;
  /*overflow: hidden;*/

  display: flex;
  flex-flow: column nowrap;
}

.feed-entry {
  padding: 0.5rem;
  /*padding-bottom: 1rem;*/

  color: inherit;
  text-decoration: none;

  /*max-height: 3rem;
  overflow: hidden;*/
  border-radius: 0.25rem;
}

.feed-entry.button {
  display: block;
  font-size: inherit;
  text-align: center;
  width: 20rem;
  padding: 1rem;
  margin: 0.5rem auto;
  background-color: #ddd;
  border: none;
  cursor: pointer;
}
.feed-entry.button.disabled {
  color: #888;
  background-color: #eee;
  cursor: not-allowed;
}

.feed-entry:hover {
  background-color: #eee;
  cursor: pointer;
}

.feed-entry-publisher {
  color: #888;
}
.feed-entry-timestamp {
  color: #888;
  font-weight: bold;
}
.feed-entry.is-seen > .feed-entry-timestamp {
  font-weight: normal;
}

.feed-entry-title {
  font-weight: bold;
}
.feed-entry.is-seen > .feed-entry-title {
  font-weight: normal;
}

.feed-entry-summary {
  color: #aaa;
  font-style: italic;
  line-height: 1.3;
}

.system-msg {
  border: 1px solid #999;
  padding: 1rem;
  background-color: #ddd;
  font-style: italic;
  color: #333;
  border-radius: 0.25rem;
}

.fp-filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 0.875rem;
}

.fp-filter-label {
  color: #999;
}

.fp-filter-crit {
  background-color: #ddd;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  border-radius: 0.225rem;
}
.fp-filter-crit.is-off { opacity: 0.625; }
.fp-filter-crit.is-partial { font-style: italic; opacity: 0.8; }

.fp-filter-crit.category { background-color: #ffcdd2; }
/*.fp-filter-crit.??? { background-color: #fff59d; }*/
.fp-filter-crit.feed { background-color: #dcedc8; }
/*.fp-filter-crit.??? { background-color: #b3e5fc; }*/
/*.fp-filter-crit.??? { background-color: #c5cae9; }*/

.fp-filter-crit-name {
  vertical-align: middle;
}

.feed-unread-notification {
  float: right;
  font-size: 87.5%;
  font-style: italic;
  background-color: #eee;
  color: #666;
  padding: 0.75em 1em;
  border-radius: 0.25rem;
  cursor: pointer;
}
